* {
  box-sizing: border-box;
}
body {
  background-image: url("./assets/xxl.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.App {
  font-family: "Open Sans", sans-serif;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.formUser {
  width: 90%;
}
.modal-body {
  padding: 0;
  display: flex;
  justify-content: center;
}
.titleAndButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.newUser {
  background-color: #81df03;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px rgba(216, 203, 203, 0.882) solid;
  outline: none;
  height: 35px;
  border-radius: 5px;
}
label {
  margin-left: 10px;
  font-weight: bold;
  margin: 5px;
}
.inputCompleteName {
  width: 100%;
}

.title {
  font-weight: 300;
  color: #2ca5e7;
  text-align: center;
}
.title span {
  color: #81df03;
  font-weight: bold;
}
.fontSize {
  font-size: 1.5rem;
}
.buttom {
  text-align: center;
}
.containerList {
  width: 90%;
  max-width: 800px;
  margin: 10px;
  box-shadow: 0px 0px 10px grey, -0px -0px 10px grey;
}
.containerDescritionUser {
  display: flex;
}
.success{
  color: #81df03;
  text-align: center;
  width: 100%;
  display:flex ;
  justify-content: center;
  align-items: center;
}
