*{
  box-sizing: border-box;
}
body {
	background-image: url('./assets/xxl.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
  
}
.App {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
}
.formUser{
  width: 90%; 
}
.modal-body {
  padding: 0;
  display: flex;
  justify-content: center;
 
}
.titleAndButton{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.newUser{
background-color: #81DF03 ; 
display: flex;
justify-content: center;
align-items: center;

}

input{
  border: 1px rgba(216, 203, 203, 0.882) solid;
  outline: none; 
  height: 35px;
  border-radius: 5px;
 
}
label{
  margin-left: 10px;
  font-weight: bold;
  margin: 5px;
}
.inputCompleteName{
  width: 100%;
}

h2{
  font-weight:300 ;
  color: #2CA5E7;
  text-align: center;
}
h2 span{
  color:#81DF03 ;
  font-weight: bold;
}
.buttom{
  text-align: center;
}
.x{
  
  width: 90%;
  max-width: 800px;
  margin: 10px;
  box-shadow: 0px 0px 10px grey , -0px -0px 10px grey;
  
}
.containerDescritionUser{
  display: flex;
}
